---
layout: default
noToc: true
---

<div id="home">

  <p>Revision notes for the Magento Developer Certification exam.</p>

  <h2>Chapters</h2>

  <ol>
    {% for chapter in (1..10) %}
      {% for page in site.pages %}
        {% if page.chapter == chapter %}
          <li>
            <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
            <p>{{ page.meta-description %}}
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ol>

  <h2>Study Guide Questions</h2>
  <p>Alternatively, if you're looking for something in particular, use the <a href="/questions.html">Study Guide Questions</a> index.</p>
</div>